header{
    z-index: 999;
    position: absolute;
    top: 0;
    width: 100%;
}

container-mg {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px 30px 30px 30px;
    width: 95%;
    margin-bottom: 50px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    background: #fff;
    top: 700px;
    z-index: 3
}

.centerVerticalHorizontal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centerVertical{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container-header {
    width: 100%;
    height: 100vh;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(351, 83%, 55%, 0.61), hsla(203, 100%, 50%, 0.61)), url("../img/Alcazaba.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(236, 47, 75, 0.61), rgba(0, 157, 255, 0.61)), url("../img/Alcazaba.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 100%;
}

.container-header span{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.container-header span h1{
    letter-spacing: 10px;
}

#inputFindHeader{
    background: transparent;
    border-radius: 19px;
    padding-right: 37px;
}

.textInputWhite{
    color: white; 
}

.textInputWhite::placeholder{
    color: white; 
}

.textInputDark{
    color: rgba(0, 0, 0, 0.7); 
}

.textInputDark::placeholder{
    color: rgba(0, 0, 0, 0.7); 
}

#boxInputFindHeader {
    width: 50%;
    transition: width 1s;
}

.inputFindIcon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}